.body {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-area:
    "nav main"  
}
.main {
    grid-template-columns: 1fr*7;
    grid-template-rows: 1fr*7;
    grid-template-area:
    ""
}