body {
    background: black;
    min-height:100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-area:
    "nav main" 
} 
nav {
    background-color: yellow;
}
main {
    background-color: green;
    margin: 10px;
    grid-template-columns: repeat (7, 1fr);
    grid-template-rows: repeat (7, 1fr);
    grid-template-areas:
    "s18 s17 s16 s15 s14 s13 s12"
}
div{
    height: 20px;
    width: 20px;
}
.s0, .s12 {
    background-color: green;
}
.s1, .s5, .s7 .s17, .s22 {
    background-color: red;
}
.s2, .s6, .s18, .s19, .s23 {
    background-color: blue;
}
.s3, .s8, .s10, .s13, .s15, .s20 {
    background-color: pink; 
}
.s4, .s9, .s11, .s14, .s16, .s21  {
    background-color: purple;
}